@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat+Alternates:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Outfit:wght@500;600;700&display=swap');

$outfit: 'Outfit';
$montserrat: 'Montserrat Alternates';

$black: #333333;
$purple: #22172b;
$red: #e22b22;
$green: #c6f900;