@import '../utils/variables.scss';
@import '../utils/mixins.scss';

header {
    width: 100vw;
}

.MuiContainer-root {
    background-color: #4796e5;
}

.logo-div {
    margin: 0;
    margin-right: 1rem;
    @include flex-row;
    color: black;
}

.logo-div-img {
    width: 3rem;
}

.logo-div h1 {
    margin: 0;
    font-family: $indiFlower;
    font-size: 2rem;
}