@import '../utils/variables.scss';
@import '../utils/mixins.scss';

#root {
    width: 100%;
}

main {
    @include flex-column;
    font-family: $roboto;
    font-weight: 400;
}

form 
{
    width: 250px;
    @include flex-column;
    gap: 1rem;
}